[galaxy]
ignore_certs = true
server_list = private_hub_validated, private_hub_published, private_hub_rh_certified

[galaxy_server.private_hub_validated]
url = https://54.208.88.26/api/galaxy/content/validated/
# Token: set ANSIBLE_GALAXY_SERVER_PRIVATE_HUB_VALIDATED_TOKEN as a repository secret

[galaxy_server.private_hub_published]
url = https://54.208.88.26/api/galaxy/content/published/
# Token: set ANSIBLE_GALAXY_SERVER_PRIVATE_HUB_PUBLISHED_TOKEN as a repository secret

[galaxy_server.private_hub_rh_certified]
url = https://54.208.88.26/api/galaxy/content/rh-certified/
# Token: set ANSIBLE_GALAXY_SERVER_PRIVATE_HUB_RH_CERTIFIED_TOKEN as a repository secret
